<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Unna', sans-serif;
        }
        
        /* Add the following CSS rule to style the serving message */
        .home p {
            font-size: 24px; /* Adjust the font size as needed */
            text-align: center;
            margin: 20px 0; /* Add margin for better spacing */
            padding-left: 400px;
            padding-right: 400px;

        }
        
    </style>
    <title>Group 3 Pizza - Home</title>
</head>
{% load static %}
<body>
    <header>
        <nav>
            <img src="{% static 'img/group3pizzalogo.png' %}" alt="Logo">
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'specials' %}">Specials</a></li>
                <li><a href="{% url 'cart' %}">Cart</a><span id="cartCount"></span></li>
                <li><a href="{% url 'account' %}">Create Account</a></li>
                <li><a href="{% url 'loginpage' %}">Login</a></li>
            </ul>
        </nav>
        <h1>Group 3 Pizzeria Home</h1>
    </header>
    <main>
        <div class="home">
            <div id="home-special">
                <img src="{% static 'img/group3pizzalogo.png' %}" alt="Tasty pizza at a fair price!" width="400">
                <img src="{% static 'img/pepperonipizza.jpg' %}"alt="Tasty pizza at a fair price!" width="400">
                <button class="add-to-cart" onclick="addToCart('Ultimate Combo', 18.99);">Add to Cart</button>
                <h3>Tasty Pizza at a Fair Price!</h3>
                <ul class="item-description">
                </ul>
            </div>
            <div>
                <!-- Apply the style to the paragraph element here -->
                <p>Serving up slices</p>
            </div>
            <div id="home-pizzeriahero1">
                <img src="{% static 'img/pizzaoven.jpg' %}" alt="Pizza Oven" width="300">
                <h1>Come Visit Us!</h1>
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </main>
</body>
</html>